.calendar-title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
}

.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.calendar-header button {
    background:  #645949;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 18px;
}

.calendar-header button:hover {
    opacity: 0.9;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
}

.calendar-day {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    min-height: 120px;
    border: 1px solid #ddd;
    position: relative;
    transition: 0.2s;
}

.calendar-day:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.calendar-day-number {
    font-weight: bold;
    margin-bottom: 8px;
}

.menu-item {
    font-size: 14px;
    margin-top: 5px;
    padding: 6px;
    background: #f3f3f3;
    border-radius: 8px;
}

.filter-container{
    margin-top: 7%;
}