.popup {
    position: fixed;
    bottom: 20px;
    /* canto inferior */
    right: 20px;
    /* canto direito */
    z-index: 1000;
    display: none;
    /* começa escondido */
}

.popup-content {
    background: #effdff;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    /* pra barrinha não vazar */
}

/* Título do popup */
#popup-title {
    font-size: 26px;
    /* aumenta/diminui o tamanho */
    font-weight: bold;
    /* deixa em negrito */
    margin-bottom: 10px;
    /* espaçamento embaixo */
    color: #333;
    /* cor do texto */
}

/* Mensagem do popup */
#popup-message {
    font-size: 16px;
    /* tamanho do texto */
    font-weight: normal;
    margin: 0;
    /* tira espaçamento extra */
    color: #555;
    /* cor mais suave */
}

/* Botão de fechar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

/* Barrinha de tempo */
.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: #8dc269;
    width: 100%;
    animation: progress linear forwards;
}

/* Animação da barrinha */
@keyframes progress {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

@keyframes fadeIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}