.container {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 0 10px #0002;
  font-family: Arial;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#editBtn {
  background: #2e86de;
  color: white;
}

#saveBtn {
  background: #27ae60;
  color: white;
}
